<%= stylesheet_link_tag  'static' %>
<div class='notfound_page'>
  <div class='notfound_content'>
    <div class='page_title'>
      <h2>404Not Found</h2> 
    </div>
    <div>
      <%= link_to 'Top Page' ,root_path , class:'notfound_item'%>
    </div>
  </div>
</div>