<h2>Users#option</h2>

<ul>
  <li><%= link_to 'プロフィールの編集',edit_user_path(@user.id)%></li>
  <li><%= link_to '利用規約', '/pages/rules' %></li>
  <li><%= link_to 'お問い合わせ', '/pages/contact'%></li>
  <li><%= link_to 'プライバシーポリシー', '/pages/privacy'%></li>
</ul>