<h1>User#shops</h1>
<h3>ユーザーが投稿したshop一覧を表示させます。</h3>

<% @shops.each do |shop|%>
  <%= shop.name %>
  <% if shop.images? %>
    <%= image_tag shop.images.thumb.url %>
  <% else %>
    <%= image_tag 'koeda.png' %>
  <% end %>
  <hr>
<% end %>
<%= paginate @shops %>