<%= stylesheet_link_tag 'static'%>
<div class="static_page">
  <div class="form contact_form">
    <h3>お問い合わせ</h3>

    <p>ご連絡はTwitterのDM(ダイレクトメール)にてお願い致します。</p>
      <%= link_to 'まさちか(@supercell_koeda)' ,'https://twitter.com/' ,class:"contact_item btn"%>
  </div>
</div>
