/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/*@import 'shops.scss'; */
@import 'defalut/footer.css';
@import 'defalut/header.css';

@import 'user/devise.css';
@import 'user/show.css';
/*@import 'user/option.scss';*/

@import 'shop/form.css';
/*@import 'reviews.scss';*/
/*@import 'tags.scss';*/
@import 'static.css';

@media (max-width:600px){
  body{
    font-size: 13px;
  }
}
li .error_message{
  list-style: none;
}
a{
  text-decoration: none;
  color:#2c2c2c;
}
/*フォームのボタン関連*/
input[type="submit"]{
  display: inline-block;
  padding: 8px 105px;
  border-radius: 5px;
  background: #474747;
  font-size: 15px;
  color: #efefef;
  font-family: 'Courier New', Courier, monospace
}

input[type="submit"]:hover{
  background: #050505;
}

/*プロフィール編集後 アラート*/
.alert{
  text-align: center;
  background: #ee3939
}

.notice{
  text-align: center;
  background: #41b3ff;
}
/*トップページ画像*/
.site_image{
  width:100%;
  max-width: 100%;
  height: auto;
}
/*トップページ メッセージ*/
.site_map {
  position: relative;/*相対配置*/
}

.site_map a {
  position: absolute;/*絶対配置*/
  text-align: center;
  font-size: 25px;
  width: 100%;
  top: calc(50% - 28px);
  font-weight: bold; 
  line-height: 50px;
  color: #efefef;
  font-style:oblique;
  font-family: 'Plantagenet Cherokee';
}

.site_map a:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

/*ボタン*/
.btn{
  color: #ffffff;
  padding:3px;
  margin-right: 3px;
  border-radius:10%; 
  border: 1px solid #000000;
  background-color: #000000;
}

.btn:hover{
  background-color:#5f5f5f; 
}

/*以下 全登録フォーム共通CSS*/
.form{
  border: 5px solid #efefef;
  border-radius: 5px;
  padding: 0 100px 30px 100px;
  margin: 60px 0;
}

.field_label{
  text-align: left;
  font-size:11px;
}
.field_area{
  text-align: left;
  margin: 5px 0;
}
.text_area{
  height: 20px ;
  width:97%;
}
textarea{
  width:100%;
  resize: none;
  border:1px solid #d3d3d3;
  border-radius:2px; 
}
.required{
  margin-left:5px;
  padding:1px 4px 1px 4px ;
  color: #ffffff;
  background-color: #ca0b0b;
  border:1px solid #ca0a0b;
  border-radius:3px;
}
/*以下 SHOP 詳細ページ CSS*/
  /*SHOP コンテンツ全体*/
.shop_content{
    width: 90%;
    padding: 100px 0 220px;
    margin: 0 auto;
}
/*SHOP インフォメーション タイトル*/
.shop_content_title{
  display: inline-block;
  padding-right: 3px;
}
/*SHOP カラム タイトル*/
.shop_item_title{
  display: inline-block;
  width: 30%;
  font-size: 15px;
  font-family: Sans-serif;
}
/*SHOP 各情報コンテンツ*/
.shop_item_content{
  display: flex;
}
/*SHOP 情報*/
.shop_content_info{
  width: 100%;
}
/*line*/
.line{
  width: 100%;
  height: 1px;
  margin: 16px 0;
  background: #eae6dc;
}
/*SHOP 取扱ブランド タグ*/
.shop_brand_info{
  width: 100%;
}
/*SHOP 取扱ブランド(タグ)*/
.shop_brand{
  display: inline-block;
  margin-bottom: 10px;
}
.shop_brand_item{
  color: #ffffff;
}
/*SHOP レビュー*/
.shop_review{
  width: 100%;
}
.shop_review_content{
  margin-bottom: 20px;
}
.review_title{
  display: inline-block;
  width: 20%;
  margin-bottom: 5px;
}
.review_pagenate{
  width: 80%;
  text-align: right;
}
/*以下静的ページ*/
.static_page{
  width: 70%;
  margin: auto;
}

.user_review{
  width: 80%;
  margin: auto;
}






@media (min-width:960px){


.page_title, .title{
  font-weight: bold;
  font-size: 40px;
  font-style: oblique; 
  margin: 5px;
  text-shadow: 2px 3px 1px #999999;
}

/*トップページ メッセージ*/
.site_map a {
  position: absolute;/*絶対配置*/
  text-align: center;
  font-size: 40px;
  width: 100%;
  top: calc(50% - 25px);
  font-weight: bold; 
  line-height: 50px;
  color: #efefef;
  font-style:oblique;
  font-family: 'Plantagenet Cherokee';
}

/*以下 全登録フォーム共通CSS*/
.form{
  border: 10px solid #efefef;
  border-radius: 3px;
  padding: 0 150px 30px 150px;
  margin: 60px 0;
}

/*以下 SHOP 詳細ページ CSS*/
  /*SHOP コンテンツ全体*/
  .shop_content{
    width: 80%;
    padding: 100px 0 220px;
    margin: 0 auto;
  }
  /*SHOP インフォメーション タイトル*/
  .shop_content_title{
    display: inline-block;
    padding-right: 100px;
  }
  /*SHOP カラム タイトル*/
  .shop_item_title{
    display: inline-block;
    width: 20%;
    padding-right:50px;
    font-size: 15px;
    font-family: Sans-serif;
  }
  /*SHOP 情報*/
  .shop_content_info{
    width: 80%;
  }
  /*SHOP 各情報コンテンツ*/
  .shop_item_content{
    display: inline-block;
  }
  /*line*/
  .line{
    width: 100%;
    height: 1px;
    margin: 16px 0;
    background: #eae6dc;
  }
  /*SHOP 取扱ブランド タグ*/
  .shop_brand_info{
    width: 80%;
  }
  /*SHOP 取扱ブランド(タグ)*/
  .shop_brand{
    display: inline-block;
  }
  .shop_brand_item{
    color: #ffffff;
  }
  /*SHOP レビュー*/
  .shop_review{
    width: 80%;
  }
  .shop_review_content{
    margin-bottom: 20px;
  }
  .review_title{
    display: inline-block;
    width: 89%;
  }
  .review_comment{
    width: 88%;
  }
  .review_pagenate{
    width: 80%;
    text-align: right;
  }
  /*以下静的ページ*/
  .static_page{
    width: 70%;
    margin: auto;
  }

  .user_review{
    width: 80%;
    margin: auto;
  }
}