/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import 'defalut/footer';
@import 'defalut/header';


@import 'user/show.scss';
@import 'user/option.scss';


li{
  list-style: none;
}
a{
  text-decoration: none;
  color:#2c2c2c;
}

.page_title, .title{
  font-weight: bold;
  font-size: 40px;
  font-style: oblique; 
  margin: 5px;
  text-shadow: 2px 3px 1px #999999;
}

/*フォームのボタン関連*/
input[type="submit"]{
  display: inline-block;
  padding: 8px 105px;
  border-radius: 5px;
  background: #474747;
  font-size: 15px;
  color: #efefef;
  font-family: 'Courier New', Courier, monospace
}
input[type="submit"]:hover{
  background: #050505;
}
/*プロフィール編集後 アラート*/
.alert{
  text-align: center;
  font: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: #6dc4ff
}
/*トップページ画像 */
.site_image{
  width:100%;
  max-width: 100%;
  height: auto;
}


.site_map {
  position: relative;/*相対配置*/
  }

  .site_map a {
  position: absolute;/*絶対配置*/
  text-align: center;
  font-size: 40px;
  width: 100%;
  left: 0; 
  top: calc(50% - 25px); 
  text-align: center; 
  font-weight: bold; 
  font-size: 50px;
  line-height: 50px;
  color: #efefef;
  font-style:oblique;
  font-family: 'Plantagenet Cherokee';
  }

  .site_map a:hover {
    opacity: 0.8;
    transform: scale(1.1);
  }
