/*Start page*/
.start_page ,.notfound_page{
  text-align: center;
  margin-bottom: 100px;
}
.start_page_title{
  text-align: center;
  font-size: 20px;
  margin:0 auto 0 auto;
  padding: 0 0 0 45px;
}
.start_link:hover{
  text-decoration: underline;
}
.start_content{
  display: inline-block;
  background-color: #efefef; 
  text-align: left;
  margin-top:50px ;
  margin-left:auto; 
  margin-right:auto; 
  font-family: 'Courier New', Courier, monospace;
  padding: 10px 70px 30px 10px;
  border: 3px solid #efefef;
  border-radius: 20px;
}
.start_list{
  display: inline-block;
  background-color: #efefef; 
  text-align: left;
  margin-left:auto; 
  margin-right:auto; 
  font-family: 'Courier New', Courier, monospace;
  padding: 10px 70px 30px 0;
  border: 3px solid #efefef;
  border-radius: 20px;
}
.start_menu{
  margin-top:15px;
}
/*以下 page/contact */
.contact_item{
  display: inline-block;
  padding: 5px;
  border-radius: 5px; 
}

/*以下 uesers/notfound*/
.notfound_page{
  height: 100%;
  background-color: #1f1f1f;
}
.notfound_content{
  padding-top:20%;
}
.page_title{
  color: #ffffff;
}
.notfound_item{
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
.notfound_item:hover{
  opacity: 0.8;
}