/*共通部分*/
/*以下 tags#index*/
body{
  color: #3a3a3a;
}
.brand_tag_page,.brand_shops_page{
  width: 95%;
  margin: auto;
}
/*スマホ対応*/
.brand_tag{
  display: inline-block;
  width: 150px;
  height: 30px;
}
.brand_tag_list{
  list-style: none ;
}
.brand_tag_item{ 
  font-family: BlinkMacSystemFont,
              -apple-system,"Segoe UI",
              Roboto,Oxygen,Ubuntu,Cantarell,
              "Fira Sans","Droid Sans",
              "Helvetica Neue",Helvetica,
              Arial,sans-serif;
}
/*以下tags#show*/
.brand_tag_item:hover{
  text-decoration: underline;
  font-weight: bold; 
}
.brand_has_shop{
  padding-top: 0; 
  margin-left: 0; 
  width: 100%;
}

@media (min-width:960px){
  /*以下 tags#index*/
  .brand_tag_page,.brand_shops_page{
    width: 80%;
    margin: auto;
  }
  .brand_tag{
    display: inline-block;
    width: 200px;
    height: 30px;
  }
}