/* User#registrations new */
.registrations_form , .sessions_form{
  display: inline-block;
  margin-left: auto;  
}
.registrations_check:hover{
  text-decoration: underline;
}

/* User#shared _error_messages*/
.error_message{
  list-style: none;
}

/* User#sessions new*/
.field_checkbox{
  display: inline-block;
  padding-right: 10px;
}
