.user_info_label{
  font-weight: bold;
  font-size: 20px;
  font-style: oblique; 
  margin: 5px;
  text-shadow: 2px 1px 1px #999999;
}
.option_btn{
  text-align: right;
  margin-right: 3px;
}
.option_btn a{
  color:#696969;
  padding: 5px;
  background-color:#000000; 
  //text-decoration: none;
  font-size:18px;
  font-weight: bold;
  font-style: oblique;
  border-radius: 3px;
}
.option_btn a:hover{
  color: #ffffff;
}
.user_info{
  font-weight:bold; 
  //text-align: center;
}
.user_info_list{
  list-style: none;
}
div{
  display: block;
}
.shops_content{
  margin-left:30px; 
}
.shops_label {
  width: 250px;
  margin: 0 12px 12px 0;
  display: inline-block;
  margin: 0 16px 16px 0;
  border: 3px solid #ccc;
  border-radius: 10px;   
}
// .shops_label:nth-child(1) {
// }
.shop_info{
  width: 260px;
  text-align: center;
}
.shop_name{
  display: inline-block;
  margin-top:0;
  color: black; 
  //text-decoration: none;
}
.shop_image{
  padding-top:0; 
  border-radius: 10px 10px 0 0; 
}

.all_post_shops,.all_post_reviews{
  display: block;
  color: #696969;
  text-align: right;
  margin-right:5px;
  //text-decoration: none;

}
.my_post_reviews{
  text-align: center;
  
}
.review{
  //text-decoration: none;
  color: black;
}
.review_title{
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}
.review_comment, .review_time{
  text-align: left;
}
.review_comment{
  color: #404040;
}
.reviews{
  width:50%;
  margin: 0 auto;
}
.review_time{
  font-size: 9px;
  color:#d2b48c;
  height: 5px; 
}

.user_fav_brand_label{
  margin: 0;
}