.user_info_label{
  font-size: 20px;
  margin: 3px 5px 0 0;
  display: inline-block;
}
.option_btn{
  display: inline-block;
  margin-right: 3px;
}
.option_btn a{
  font-size:18px;
}
.user_info{
  width: 80%;
  margin: auto;
  font-weight:bold; 
}
.user_info_list{
  list-style: none;
}
div{
  display: block;
}
.shops_content{
  width: 80%;
  margin: auto;
}
.shops_label {
  width: 250px;
  margin: 0 12px 12px 0;
  display: inline-block;
  margin: 0 16px 16px 0;
  border: 3px solid #ccc;
  border-radius: 10px;   
}
.shop_info{
  width: 260px;
  text-align: center;
}
.shop_name{
  display: inline-block;
  margin-top:0;
  color: black; 
}
.shop_image{
  padding-top:0; 
  border-radius: 10px 10px 0 0; 
}
.all_post_shops,.all_post_reviews{
  display: block;
  color: #696969;
  text-align: right;
  margin-right:5px;
}
.my_post_reviews{
  text-align: center;
  
}
.review{
  color: black;
}
.review_comment, .review_time{
  text-align: left;
}
.review_comment{
  color: #404040;
}
.reviews{
  width:50%;
  margin: 0 auto;
}
.review_time{
  font-size: 9px;
  color:#d2b48c;
  height: 5px; 
}
.user_fav_brand_label{
  margin: 0;
}
.user_info_lists{
  padding: 0; 
}
.page_tilte{
  padding-left: 10px;
}
.review_title{
  font-weight: bold;
}