<div class="footer">
  <nav class='footer_nav'>
    <ul>
      <li class='f_nav_list'><%= link_to 'ブランド一覧', tags_path, class:"f_nav_menu" %></li>
      <li class='f_nav_list'><%= link_to '利用規約', '/pages/rules',class:"f_nav_menu"%></li>
      <li class='f_nav_list'><%= link_to 'お問い合わせ','/pages/contact',class:"f_nav_menu"%></li>
      <li class='f_nav_list'><%= link_to 'プライバシーポリシー','/pages/privacy',class:"f_nav_menu"%></li>
    </ul>  
  </nav>
  <br>
  <p class='copy_light'>Copyright © 2019 しょっぷMAP All Rights Reserved.</p>
</div>