
<div class='footer'>
  <h4>フッター</h4>

  <ul>
    <li><%= link_to 'ブランド一覧', tags_path %></li>
    <li><%= link_to '利用規約', '/pages/rules'%></li>
    <li><%= link_to 'プライバシーポリシー','/pages/privacy'%></li>
    <li><%= link_to 'お問い合わせ','/pages/contact'%></li>
  </ul>

  <span>Copyright © 2019 しょっぷMAP All Rights Reserved.</span>
</div>